$mg1: 16px
$mg2: 32px

body
  font-family: 'Source Sans Pro', sans-serif
  background: #E5E5E5

  .app
    margin: 32px
    display: grid
    grid-template-columns: 25% 75%
    gap: 16px

    .control

      .title
        margin-bottom: $mg1
        color: #3F3F3F
        font-weight: 600
        font-size: 28px
        line-height: 35px

      .settings
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02)
        border-radius: 4px
        list-style-type: none
        padding: 24px
        color: #49485E
        background: #FFFEFBCC

        .item

          .name
            font-weight: 400
            font-size: 10px
            line-height: 13px
            margin-bottom: 4px



